body {
  margin: 0;
  padding: 0;
  display: flex; 
  min-height: 100vh; 
}


.sidebar {
  width: 300px; 
  background-color: #ffffff; 
  color: white;
  padding-top: 100px;
  position: fixed; 
  height: 100%; 
  overflow-x: hidden; 
}


.sidebar a {
  padding: 5px 35px;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  display: block; 
}


.sidebar a:hover {
  color: #f1f1f1;
  background-color: #504b4b;
}

.main-content {
  background-color: #ebebeb;
  margin-left: 200px; 
  padding: 300px;
  flex-grow: 1; 
}
