body {
  margin: 0;
  padding: 0;
  display: flex; 
  min-height: 100vh; 
}


.sidebar {
  align-content: center;
  height: 100%; 
  width: 300px; 
  background-color: #ffffff; 
  color: white;
  padding-top: 100px;
  position: fixed; 
  overflow-x: hidden; 
  z-index: 1;
}


.sidebar a {
  padding: 5px 40px;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  display: block; 
}


.sidebar a:hover {
  color: #f1f1f1;
  background-color: #504b4b;
}

#tab{
  font-weight: lighter;
  background-color: #d1cfcf;
  padding: 5px;
}

.main-content {
  height: auto;
  background-color: #ebebeb;
  margin-left: 300px; 
  padding: 200px;
  flex-grow: 1; 
}

img{
  filter: grayscale(100%);
}

 a {
color: black;
 }

 .nav{
  text-wrap: nowrap;
  justify-content: row-reverse;
 }