body {
  margin: 0;
  padding: 0;
  display: flex; 
  min-height: 100vh; 
}


.sidebar {
  align-content: center;
  height: 100%; 
  width: 300px; 
  background-color: #ffffff; 
  color: white;
  padding-top: 100px;
  position: fixed; 
  overflow-x: hidden; 
  z-index: 1;
}


.sidebar a {
  padding: 5px 35px;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  display: block; 
}


.sidebar a:hover {
  color: #f1f1f1;
  background-color: #504b4b;
}

.main-content {
  background-color: #ebebeb;
  margin-left: 200px; 
  padding: 300px;
  flex-grow: 1; 
}

.fa:hover {
    opacity: 0.7;
}

.my-face {
  border: 5px solid;
border-color: #000000;
border-width: 5px;
 }