body {font-family: "Lato", sans-serif;}

.sidebar {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fcfcfcd3;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  align-content: middle;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: inline-block;
}

.sidebar a:hover {
  color: #278853;
}

.main {
  margin-left: 200px; 
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
